<script type="text/javascript" src="/component/PngImage/PngImage.js"></script>

<template id="png-image">
  <link type="text/stylesheet" href="/component/PngImage/PngImage.css" />

  <canvas id="canvas" class="canvas"></canvas>
</template>