<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Home</title>
		{{{includes}}}
	</head>
	<body class="font-helvetica narrow">
		<header>
			{{{header}}}
		</header>
		<main>
			<article>
				<h2>Home</h2>
				<p>
					Welcome to my NodeJS web server! This website contains various experiments with the Web APIs. The server for this website is implemented in NodeJS.
				</p>
			</article>
		</main>
	</body>
</html>
