<!DOCTYPE html>
<html lang="en">
	<head>
		<title>REST</title>
    <script type="text/javascript" src="/script/require.js" data-boot="/controller/Rest.js"></script>
    {{{includes}}}

		<style type="text/css">
			.rest-textarea {
				width: 50%;
				height: 100px;
				resize: none;
			}
		</style>
	</head>
	<body class="font-helvetica narrow">
		<header>
			{{{header}}}
		</header>
		<main>
			<article>
				<h2>REST</h2>
				<p>
					Below is a simple RESTful test to ensure the backend is up and running;
				</p>

				<form name="restTest" action="/api/message" method="get">
					<label for="message">Message Body</label>
					<br />
					<textarea id="message" name="message" class="rest-textarea"></textarea>
					<br />
					<input type="submit" id="submitGet" value="GET" />
					<input type="submit" id="submitPut" value="PUT" />
					<input type="submit" id="submitDelete" value="DELETE" />
					<pre class="code-block"><code id="log"></code></pre>
				</form>
			</article>
		</main>
	</body>
</html>
