<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Server Sent Events</title>
		<script type="text/javascript" src="/script/require.js" data-boot="/controller/ServerEvents.js"></script>
    {{{includes}}}
	</head>
	<body class="font-helvetica narrow">
		<header>
			{{{header}}}
		</header>
		<main>
			<article>
				<h2>Server Sent Events</h2>
				<p>
					Something something events...
				</p>
	</body>
</html>
