<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Testing</title>
		<script type="text/javascript" src="/script/zlib.js"></script>
		<script type="text/javascript" src="/script/require.js" data-boot="/controller/Testing.js"></script>
		<script type="text/javascript" src="/script/require-extensions.js"></script>
    {{{includes}}}
	</head>
	<body class="font-helvetica narrow">
		<header>
			{{{header}}}
		</header>
		<main>
			<article>
				<h2>Testing</h2>
				<p>This page contains stuff that I am currently testing.</p>

        <label for="file">File: </label>
				<input id="file" type="file" accept="text/csv" />
				
				<label for="file">PNG: </label>
				<input id="pngFile" type="file" accept="image/png" />

				<hr />

				<div id="pngResult" style="display: none;">
					<img id="pngExample" src="" alt="PNG image decoded rendered by the browser" />

					<canvas id="pngCanvas">
						<img id="pngCanvasFallback" src="" alt="PNG image decoded and rendered manually" />
					</canvas>
				</div>

				<png-image src="/image/icon192.png" />
			</article>
		</main>

		<require-component name="PngImage"></require-component>
	</body>
</html>
