<!DOCTYPE html>
<html lang="en">
	<head>
		<title>WebGL</title>
		{{{includes}}}
		<script type="text/javascript" src="/script/require.js" data-boot="/controller/WebGL.js"></script>
    <script type="text/javascript" src="/script/require-extensions.js"></script>
    <script type="text/javascript" src="/script/gl-matrix.js"></script>
	</head>
	<body class="font-helvetica narrow">
		<header>
			{{{header}}}
		</header>
		<main>
			<article>
				<h2>WebGL</h2>
				<p>
					Something something <a href="https://developer.mozilla.org/en-US/docs/Web/API/WebGL_API/Tutorial">WebGL</a>...
				</p>

        <div class="canvas__container">
          <canvas id="canvas" width="800" height="600">
            <p>It looks like your browser does not support HTML5 canvas and WebGL. Sad face...</p>
          </canvas>
        </div>
	</body>
</html>
