<!DOCTYPE html>
<html lang="en">
	<head>
		<title>WebSockets</title>
		<script type="text/javascript" src="/script/require.js" data-boot="/controller/WebSocket.js"></script>
		<script type="text/javascript" src="/script/require-extensions.js"></script>
    {{{includes}}}
	</head>
	<body class="font-helvetica narrow">
		<header>
			{{{header}}}
		</header>
		<main>
			<article>
				<h2>WebSockets</h2>
				<p>
					WebSockets allow two way connections between client and server. Once a socket has been opened either the client or server can send messages to each other at any time. WebSockets are opened by upgrading a HTTP connection.
				</p>

				<h3>Handshake</h3>
				<p>
					To setup a web socket connection the client must send a <code>GET</code> request to the server with the <code>Upgrade</code> header. Below is an example request to achieve a web socket connection;
				</p>

				<pre class="code-block"><code>GET /echo HTTP/1.1
Host: smilne.dev
Upgrade: websocket
Connection: Upgrade
Sec-WebSocket-Protocol: plaintext
Sec-WebSocket-Key: dGhlIHNhbXBsZSBub25jZQ==
Sec-WebSocket-Version: 13</code></pre>

				<p>
					In the above example a web socket is setup against smilne.dev/echo using the <code>plaintext</code> subprotocol.
				</p>

				<h3>Chat Example</h3>

				<div class="output">
					<p>Type your username and click the "Register" button;</p>
					<p id="usernameDisplay" class="hidden"></p>
					<div id="registerSection">
						<input id="username" type="text" />
						<button id="register">Register</button>
					</div>
					<div>
						<input id="message" type="text" />
						<button id="send">Send</button>
					</div>
					<p id="output" class="plaintext"></p>
				</div>
			</article>
		</main>
	</body>
</html>
