<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Web Worker</title>
		{{{includes}}}
	</head>
	<body class="font-helvetica narrow">
		<header>
			{{{header}}}
		</header>
		<main>
			<article>
				<h2>Web Worker</h2>
				<p>
					Javascript normally runs within a single thread. The <a href="https://developer.mozilla.org/en-US/docs/Web/API/Web_Workers_API">Web Worker</a> API enables Javascript on a web page to run in a separate thread. This could be very useful for compute heavy operations to avoid locking up the UI thread and dropping fames. Web workers are separate scripts that can pass messages back and fourth to the main thread. Web workers have a separete global scope to that of the UI global scope <code>window</code>.
				</p>

				<p>
					Below is an example which allows you to send a message to a web worker which will just echo the message back;
				</p>

				<pre class="code-block with-output"><code>(function () {
  const worker = new Worker('/script/echoWorker.js');
  const terminateButton = document.querySelector('#echoKill');
  const submitButton = document.querySelector('#echoSubmit');
  const input = document.querySelector('#echoInput');
  const output = document.querySelector('#echoOutput');

  terminateButton.addEventListener('click', event => {
    worker.terminate();
    output.innerText += 'Worker terminated.';
  });

  submitButton.addEventListener('click', event => {
    const message = input.value;

    worker.postMessage(message);
    input.value = '';
  });

  worker.onmessage = function (event) {
    const reply = event.data;
    output.innerText += reply;
  };
})();</code></pre>
				<pre class="code-block with-output with-above"><code>postMessage('Worker started.\n');
onmessage = function (event) {
  const message = event.data;

  postMessage(`Worker recieved: "${message}".\n`);
}</code></pre>
				<div class="output with-code">
					<label for="echoInput">Message</label>
					<input id="echoInput" type="text" name="echoInput" />
					<button id="echoSubmit">Send</button>
					<button id="echoKill">Terminate</button>
					<pre id="echoOutput"></pre>

					<script type="text/javascript">
					  (function () {
					    const worker = new Worker('/worker/echo.js');
							const terminateButton = document.querySelector('#echoKill');
							const submitButton = document.querySelector('#echoSubmit');
							const input = document.querySelector('#echoInput');
							const output = document.querySelector('#echoOutput');

							terminateButton.addEventListener('click', event => {
								worker.terminate();
								output.innerText += 'Worker terminated.';
							});

							submitButton.addEventListener('click', event => {
								const message = input.value;

								worker.postMessage(message);
								input.value = '';
							});

					    worker.onmessage = function (event) {
					      const reply = event.data;
								output.innerText += reply;
					    };
					  })();
					</script>
				</div>
			</article>
		</main>
	</body>
</html>
