<h1 class="align-center">My NodeJS Server</h1>
<nav aria-label="Main Navigation">
  <ul class="inline-list">
    <li><a href="/">Home</a></li>
    <li><a href="/rest">REST</a></li>
    <li><a href="/websockets">WebSockets</a></li>
    <li><a href="/webworker">Web Worker</a></li>
    <li><a href="/webassembly">Web Assembly</a></li>
    <li><a href="/streams">Streams</a></li>
    <li><a href="/serverevents">Server Sent Events</a></li>
    <li><a href="/messages">Messages</a></li>
    <li><a href="/webgl">WebGL</a></li>
    <li><a href="/testing">Testing...</a></li>
  </ul>
</nav>
